<div class="container">
    <h1>Таблица Пифагора</h1>
    <h3>Идея: Тонкушин Георгий</h3>
    <p>В таблицу можно внести размерность (диапазон)</p>

    <form [formRoot]="rangeForm">

        <div class="controls">
            <label>
                Min
                <input
                        type="number"
                        [formField]="rangeForm.min">
            </label>

            <br><br>

            <label>
                Max
                <input
                        type="number"
                        [formField]="rangeForm.max">
            </label>
        </div>

        <table border="1">
            @for (row of table(); track $index) {
                <tr>
                    @for (cell of row; track $index) {
                        <td>{{ cell }}</td>
                    }
                </tr>
            }
        </table>

    </form>
</div>

<router-outlet/>
